
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- api -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- 
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script> -->
    <title>App quiz</title>
    <link rel="stylesheet" href="../../css/style.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/> -->
</head>
<body>
    <!-- =============================================================================== -->
    <!-- header menu -->
    <div class="menu">
        <div class="logo">
            <img src="../../img/logo.png" alt="" width="15%" class="setlogo">
        </div>
        <div class="title_onmenu">SMART APP NODE-G02</div>
        <div class="login"><a href="http://localhost/" class="setLogin">Login</a> </div>
    </div>

    <!-- =============================================================================== -->
    <!-- contianer CreatForm -->
    <div class="contianerForm">
        <div class="cardForm">
            <a href="http://localhost/quizses.html"><img src="../../img/back_icon.png" width="40px" alt="" class="imgBack" ></a>
            <!-- <div class="card-header"></div> -->
            <div class="card-bodys" id="goToupdate">
                <!-- <form action="#" class="setForm"> -->
                    <div class="addQuizTitle">
                        <span class="setTextTitle">Title: <input type="text" id="getTitle" placeholder="Quiz title" class="inputTitle" required></span> 
                        <!-- <span>Timer : <input type="text" id="gettimer" placeholder="time" class="settime"> </span> -->
                    </div>
                    <div class="displayformCreateanswer"><button id="btn_displayDailog"> Add Question</button></div>
                    <!-- Dialog of create question -->
            </div>
        </div>
            <!-- ============================================================================= -->
            <!-- CONTIANER SHOW LIST QUESTION  -->
            <div class="listQuestion">
                <h2 class="titleQuiz hide"><span>Quiz: </span> <span id="subjectQuiz"> </span></h2>
                <div id="dopDisplayOnscreen">
                    <!-- <div class="setListAdd" id="question_view">
                        <div class="li-getquestion">
                            <span class="getValue"> 10 (pt) QUESTION</span>
                            <button class="btnInQuest">
                                <img src="../../img/edit.png" alt=""  class="editor">
                                <img src="../../img/delete-icon.png" alt="" class="deleter">
                            </button>
                        </div>
                        <div class="answers_list">
                            <div class="option"><span> A1 </span></div>
                            <div class="option"><span> A2 </span></div>
                            <div class="option"><span> A3 </span></div>
                            <div class="option"><span> A4 </span></div>
                        </div>  
                        <div class="clickDesplay"><i class='fas fa-chevron-circle-down'></i></div>
                    </div>  -->
                </div>            
            </div>
    </div>
    <!-- display form -->
    <div class="displayDialog" id="hide">
        <div class="contentInput">
            <h1 class="h1-center">Create your question</h1>
            <div class="putScore">Score: <input type="text" placeholder="Set score" id="getScore"></div>
            <div class="set-input">
                <input type="text" id="QuestionId" placeholder="Type question" required>
            </div>
            <div>Chose type your answers</div>

            <div class="allTypeanswers">
                <select name="selectType" id="choseTypeAnswers">
                    <option value="No_Typeanswers">Type answer</option>
                    <option value="Multiple">Multiple answers</option>
                    <option value="ChoseOne">Option answer</option>
                    <option value="TrueFalse">True or False</option>
                </select>
                <!-- true and false -->
                    <div class="truefalseAnswer" id="hide">
                        <label for="check"></label>
                        <div class="set-input">
                            <input type="text" placeholder="Option" id="answer" name="answer1" value="True" disabled>
                            <input type="radio" name="check" id="correctAnswerId">
                        </div>
                        <div class="set-input">
                            <input type="text" placeholder="Option" id="answer" name="answer1" value="False" disabled>
                            <input type="radio" name="check" id="correctAnswerId">
                        </div>
                    </div>

                    <!-- // multipleAnswer -->
                    <div class="multipleAnswer" id="hide">
                        <div class="set-input">
                            <input type="text" placeholder="Type answer" id="answer" name="answer1" required>
                            <button class="removeAnswer">remove</button>
                            <input type="checkbox" name="check" id="correctAnswerId" required>
                            
                        </div>
                    </div>

                    <div class="optionAnswers" id="hide">
                        <label for="check"></label>
                        <div class="set-input">
                            <input type="text" placeholder="Type answer" id="answer" name="answer1" required>
                            <button class="removeAnswer">remove</button>
                            <input type="radio" name="check" id="correctAnswerId">
                        </div>

                    </div>
                    <!-- // ADD TYPE -->
                    <div class="divAddoption"><button class="addoption" id="hide">Add Answer+</button></div>
                    <!-- /// post -->
 
                    <div class="postQuestion"><input type="submit" value="SAVE ANSWER" class="btn_PostData"></div>
            </div>
        </div> 
    </div>



    <!-- link javascript -->
    <script src="edit.js"></script>
</body>
</html>