
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- api -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <title>App quiz</title>
    <link rel="stylesheet" href="../../css/style.css">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
</head>
<body>
    <!-- =============================================================================== -->
    <!-- header menu -->
    <div class="menu">
        <div class="logo">
            <img src="../../img/logo.png" alt="" width="15%" class="setlogo">
        </div>
        <div class="title_onmenu">SMART APP NODE-G02</div>
        <div class="login"><a href="#" class="setLogin">Login</a> </div>
    </div>

    <!-- =============================================================================== -->
    <!-- contianer CreatForm -->
    <div class="contianerForm">
        <div class="cardForm">
            <!-- <img src="../../img/back_icon.png" width="40px" alt="" class="imgBack" > -->
            <!-- <div class="card-header"></div> -->
            <div class="card-body" id="goToupdate">
                <form action="#" class="setForm">
                    <h3 class="addQuizTitle">
                        <span class="setTextTitle">Title: <input type="text" id="getTitle" placeholder="Quiz title" class="inputTitle"> </span> 
                        <!-- <span>Timer : <input type="text" id="gettimer" placeholder="time" class="settime"> </span> -->
                    </h3>
                    <div class="contentInput">
                        <h1 class="h1-center">Create your question</h1>
                        <span class="putScore">Score: <input type="text" placeholder="Set score" id="getScore"></span>
                        <div class="set-input">
                            <input type="text" id="QuestionId" placeholder="e.g What is your favorite?">
                        </div>
                        <div class="set-input">
                            <input type="text" placeholder="Option" id="answer">
                            <input type="checkbox" name="check" id="correctAnswerId">
                        </div>
                        <div class="set-input">
                            <input type="text" placeholder="Option" id="answer">
                            <input type="checkbox" name="check" id="correctAnswerId">
                        </div>
                        <div class="set-input">
                            <input type="text" placeholder="Option" id="answer">
                            <input type="checkbox" name="check" id="correctAnswerId">
                        </div>
                        <div class="set-input">
                            <input type="text" placeholder="Option" id="answer">
                            <input type="checkbox" name="check" id="correctAnswerId">
                        </div>
                        <input type="button" value="Add+" class="btnAdd" id="btnAdd">
                        
                    </div> 
                </form>
            </div>
        </div>
            <!-- ============================================================================= -->
            <!-- CONTIANER SHOW LIST QUESTION  -->
            <div class="listQuestion">
                <h2 class="titleQuiz hide"><span>Quiz: </span> <span id="subjectQuiz"> </span></h2>
                <div id="dopDisplayOnscreen">
                    <!-- <div class="setListAdd" id="question_view">
                        <div class="li-getquestion">
                            <span class="getValue">QUESTION</span>
                            <button class="btnInQuest">
                                <img src="../../img/edit.png" alt=""  class="editor">
                                <img src="../../img/delete-icon.png" alt="" class="deleter">
                            </button>
                        </div>
                        <div class="answers_list">
                            <div class="option"><span> A1 </span></div>
                            <div class="option"><span> A2 </span></div>
                            <div class="option"><span> A3 </span></div>
                            <div class="option"><span> A4 </span></div>
                        </div>  
                        <div class="clickDesplay"><i class='fas fa-chevron-circle-down'></i></div>
                    </div>  -->
                </div>

                <button type="submit" id="btnSaveId">SAVE</button>
            </div>
    </div>
    <!-- link javascript -->
    <script src="edit.js"></script>
</body>
</html>